@*@model MoviesApp.Models.Customer*@

@model IEnumerable<MoviesApp.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", "Customers", new { id = item.Id }, null)</td>
                <td>@item.MembershipType.Name</td>
            </tr>
            
         }
    </tbody>
</table>


